[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = ">=7.1"
cryptography = ">=41.0"
bcrypt = ">=4.1"
enum34 = ">=1.1"
prettytable = ">=3.1"
pytimeparse2 = ">=1.4"

[dev-packages]
pylint-report = "*"
paramiko = "*"
coverage = "*"
black = "*"
pytest-cov = "*"
faker = "*"
cprint = "*"
pylint = "*"

[requires]
python_version = "3.9"
