on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install setuptools wheel twine pdoc3

    - name: Build and publish
      env:
        RELEASE_NAME: ${{ github.event.release.tag_name }} 
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        python setup.py sdist bdist_wheel
        twine upload dist/*

    - name: Rebuild documentation
      run: |
        pdoc --html src/sshkey_tools/ --force --output-dir docs
        mv docs/sshkey_tools/* docs/
        rm -r docs/sshkey_tools